<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, viewport-fit=cover, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="The place for your favourite movies & shows" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#120f1d" />
  <meta name="msapplication-TileColor" content="#120f1d" />
  <meta name="theme-color" content="#120f1d" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet" />

  <script src="/config.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/movie-web/6C6F6C7A@8b821f445b83d51ef1b8f42c99b7346f6b47dce5/out.js"></script>

  <!-- prevent darkreader extension from messing with our already dark site -->
  <meta name="darkreader-lock" />

  <!-- disabling referrer can fix some provider problems -->
  <meta name="referrer" content="no-referrer" />

  <title>movie-web</title>

  {{#if opensearchEnabled }}
  <!-- OpenSearch -->
  <link rel="search" type="application/opensearchdescription+xml" title="movie-web" href="/opensearch.xml">

  <!-- Google Sitelinks -->
  <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "url": "{{ routeDomain }}",
          "potentialAction": {
          "@type": "SearchAction",
          "target": {
            "@type": "EntryPoint",
            "urlTemplate": "{{ routeDomain }}/browse/?q={search_term_string}"
          },
          "query-input": "required name=search_term_string"
          }
        }
      </script>
  {{/if}}
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  <script type="module" src="/src/index.tsx"></script>
</body>

</html>